<div data-controller="scroll">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-scroll-target="nav" data-action="scroll@window->scroll#scroll">
    <div class="container-fluid">

      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logomatheus.jpg" %>
      <% end %>

      <%= form_tag products_path,class: "form-search", method: :get do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "input-search",
                            placeholder: "Search for a product" %>
        <%= image_submit_tag "search-b.svg"%>
      <% end %>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Products", "/products", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.photo.key.present? %>
                  <%= cl_image_tag (current_user.photo.key), crop: :thumb, height: 40, class: "avatar", alt: "dropdown menu" %>
                <% else %>
                  <%= image_tag("avatarshoes.png", crop: :thumb, height: 40, class: "avatar", alt: "dropdown menu") %>
                <% end %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if @current_cart %>
                  <%= link_to "Shop Cart", cart_path(@current_cart), class: "dropdown-item" %>
                <% end %>
                <% if current_user.role == "admin" %>
                  <%= link_to "all Orders", orders_path, class: "dropdown-item" %>
                  <%= link_to "Add a product",  new_product_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to "Your Orders", orders_path, class: "dropdown-item" %>
                <% end %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Products", "/products", class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
