<a href="<%= product_path(product) %>">
  <div class="card-category-product">
    <%= image_tag product.photos.first, :class => "card_image_product"%>
    <div class="card-product-infos">
      <div class="card_product_info">
        <p class="card-pro-t" >
          <%= product.name %>
        </p>
        <p class="card-pro-p">
            <%= product.description %>
        </p>
      </div>
      <div class="card_product_price">
        <p class="card-pro-price">
          $<%= product.price %>.00
        </p>
      </div>
    </div>
  </div>
</a>
